

h1{
    color: darkred;
    text-align: center;

}

h2{

    background-color: bisque;
    display: inline-block;
    width: 380px;

    
}

h3{
    text-align: center;
    
   
    margin-right: 45px;
}

table{


    background-color: lightgrey;
    display: inline-block;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
   

}

.list{
background-color: lightgrey;
width: 175px;
height: 175px;
margin-right: 30px;

}

img{
height: 175px;
width: 200px;

}

.container{

    display: flex;
    flex-direction: row;
    justify-content:flex-start

  
    

}
